<%- include('../includes/head')%>
</head>
<body>
    <!-- HEADER ================================= -->
    <%- include('../includes/header/header', {user})%>

    <!-- TOP AREA =================================================== -->
    <div id="all">
        <div id="content">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <!-- breadcrumb-->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">New account / Sign in</li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 offset-lg-3">
                  <%- include('./newAccount')%>
              </div>
            </div>
          </div>
        </div>
    </div>
<%-include('../includes/footer/foot')%>