<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a href="/" class="navbar-brand home"
      ><img
        src="/img/hyper-shop.png"
        alt="Hyper logo"
        class="d-none d-md-inline-block"
      /><img
        src="/img/logo-small.png"
        alt="Hyper logo"
        class="d-inline-block d-md-none"
      /><span class="sr-only">Hyper - go to homepage</span></a
    >
    <div class="navbar-buttons">
      <button
        type="button"
        data-toggle="collapse"
        data-target="#navigation"
        class="btn btn-outline-secondary navbar-toggler"
      >
        <span class="sr-only">Toggle navigation</span
        ><i class="fa fa-align-justify"></i>
      </button>
      <button
        type="button"
        data-toggle="collapse"
        data-target="#search"
        class="btn btn-outline-secondary navbar-toggler"
      >
        <span class="sr-only">Toggle search</span
        ><i class="fa fa-search"></i></button
      ><a href="/cart" class="btn btn-outline-secondary navbar-toggler"
        ><i class="fa fa-shopping-cart"></i
      ></a>
    </div>
    <div id="navigation" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item dropdown menu-large">
          <a
            href="/products"
            data-hover="dropdown"
            data-delay="200"
            class="dropdown-toggle nav-link"
            >Product<b class="caret"></b
          ></a>
          <ul class="dropdown-menu megamenu">
            <li>
              <div class="row">
                <div class="col-md-6 col-lg-3">
                  <h5>Category</h5>
                  <ul class="list-unstyled mb-3">
                    <%for(c of categories.catsQty){%>
                    <li class="nav-item">
                      <a href="/products?category=<%=c._id%>" class="nav-link"
                        ><%=c._id%></a
                      >
                    </li>
                    <%}%>
                  </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                  <h5>Brand</h5>
                  <ul class="list-unstyled mb-3">
                    <%for(brand of brands){%>
                    <li class="nav-item">
                      <a href="/products?brand=<%=brand._id%>" class="nav-link"
                        ><%=brand._id%></a
                      >
                    </li>
                    <%}%>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <% if (user){ %>
        <li class="nav-item">
          <a href="/user/profile" class="nav-link">Profile</a>
        </li>
        <li class="nav-item"><a href="/order" class="nav-link">My Order</a></li>
        <% } %>
      </ul>
      <div class="navbar-buttons d-flex justify-content-end">
        <!-- /.nav-collapse-->
        <div id="search-not-mobile" class="navbar-collapse collapse"></div>
        <a
          data-toggle="collapse"
          href="#search"
          class="btn navbar-btn btn-primary d-none d-lg-inline-block"
          ><span class="sr-only">Toggle search</span><i class="fa fa-search"></i
        ></a>
        <div
          id="basket-overview"
          class="navbar-collapse collapse d-none d-lg-block"
        >
          <a href="/cart" class="btn btn-primary navbar-btn"
            ><i class="fa fa-shopping-cart"></i><span>CART</span></a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="search" class="collapse">
  <div class="container search-form-container">
    <form
      action="/products"
      role="search"
      class="ml-auto search-form"
      id="search-form"
    >
      <div class="input-group">
        <input
          type="text"
          placeholder="Search"
          class="form-control search"
          name="name"
        />
        <div class="input-group-append">
          <button
            type="submit"
            form="search-form"
            class="btn btn-primary search-button"
          >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
