<%- include('../includes/head')%>
</head>
<body>
    <!-- HEADER ===================== -->
    <%- include('../includes/header/header',{user})%>
    <div class="container">
        <div class="row justify-content-center">
            <% for (let order of orders) { %>
            <div class="col-lg-3"> 
                <%- include('../includes/cart/orderStatus', {order})%>
            </div>
            <% } %>
        </div>
    </div>

<%-include('../includes/footer/foot')%>
</body>
</html>