<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="main-slider" class="owl-carousel owl-theme">
                    <div class="item"><img src="img/viewer-1.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img src="img/viewer-2.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img src="img/viewer-3.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img src="img/viewer-4.jpg" alt="" class="img-fluid"></div>
                </div>
                <!-- /#main-slider-->
            </div>
        </div>
    </div>
    <!-- ADVANTAGES HOMEPAGE ======================================= -->
    <%- include('./advantagesHomepage')%> 
</div>