
<div id="hot">
    <div class="box py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="mb-0">Hot this week</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="product-slider owl-carousel owl-theme">
            <!-- ITEM =========================== -->
            <% for (product of hotProducts) { %>
              <%- include('./item', product)%>
            <% } %>
        </div>
    </div>
</div>
