<!-- REALTED PRODUCTS ========================== -->
<div class="row same-height-row">
  <div class="col-md-3 col-sm-6">
    <div class="box same-height">
      <h3>You may also like these products</h3>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="product same-height">
      <div class="flip-container">
        <div class="flipper">
          <div class="front"><a href="/productDetail"><img src="img/kyrie-low-4.jpg" alt="" class="img-fluid"></a></div>
          <div class="back"><a href="/productDetail"><img src="img/kyrie-low-4.jpg" alt="" class="img-fluid"></a></div>
        </div>
      </div><a href="/productDetail" class="invisible"><img src="img/kyrie-low-4.jpg" alt="" class="img-fluid"></a>
      <div class="text">
        <h3>Fur coat</h3>
        <p class="price">$143</p>
      </div>
    </div>
    <!-- /.product-->
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="product same-height">
      <div class="flip-container">
        <div class="flipper">
          <div class="front"><a href="/productDetail"><img src="img/savaleos.jpg" alt="" class="img-fluid"></a></div>
          <div class="back"><a href="/productDetail"><img src="img/savaleos.jpg" alt="" class="img-fluid"></a></div>
        </div>
      </div><a href="/productDetail" class="invisible"><img src="img/savaleos.jpg" alt="" class="img-fluid"></a>
      <div class="text">
        <h3>Fur coat</h3>
        <p class="price">$143</p>
      </div>
    </div>
    <!-- /.product-->
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="product same-height">
      <div class="flip-container">
        <div class="flipper">
          <div class="front"><a href="/productDetail"><img src="img/zoom-freak-3.jpg" alt="" class="img-fluid"></a></div>
          <div class="back"><a href="/productDetail"><img src="img/zoom-freak-3.jpg" alt="" class="img-fluid"></a></div>
        </div>
      </div><a href="/productDetail" class="invisible"><img src="img/zoom-freak-3.jpg" alt="" class="img-fluid"></a>
      <div class="text">
        <h3>Fur coat</h3>
        <p class="price">$143</p>
      </div>
    </div>
    <!-- /.product-->
  </div>
</div>