<div class="card sidebar-menu mb-4">
  <div class="card-header">
    <h3 class="h4 card-title">Categories</h3>
  </div>
  <div class="card-body">
    <ul class="nav nav-pills flex-column category-menu">
      <li>
        <a href="/products?category=all" class="nav-link category-filter"
          >all categories<span class="badge badge-secondary"
            ><%=categories.sum%></span
          ></a
        >
      </li>
      <%for(cat of categories.catsQty) {%>
      <li>
        <a
          href="/products?category=<%=cat._id%>"
          class="nav-link category-filter"
          ><%=cat._id%><span class="badge badge-secondary"
            ><%=cat.count%></span
          ></a
        >
      </li>
      <%}%>
    </ul>
  </div>
</div>
