<div class="card sidebar-menu mb-4">
  <div class="card-header">
    <h3 class="h4 card-title">
      Gender<a href="#" class="btn btn-sm btn-danger pull-right gender-clear"
        ><i class="fa fa-times-circle"></i> Clear</a
      >
    </h3>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group gender-form">
        <div class="checkbox">
          <label> <input type="checkbox" value="men"/> Men </label>
        </div>
        <div class="checkbox">
          <label> <input type="checkbox" value="women"/> Women </label>
        </div>
        <div class="checkbox">
          <label> <input type="checkbox" value="unisex"/> Unisex </label>
        </div>
      </div>
      <button class="btn btn-default btn-sm btn-primary gender-button">
        <i class="fa fa-pencil"></i> Apply
      </button>
    </form>
  </div>
</div>
